body {
  background-color: rgb(26, 26, 29);
  color: white
}
button {
  background-color: black;
  color: rgb(19, 66, 142);
  font-size: 40px
}
#krug {
  background-color: rgb(19, 66, 142);
  border-radius: 50%;
  position: absolute
}
#schet {
  position: absolute;
  top: 400px
}
#kolvo {
  position: absolute;
  top: 400px;
  left: 60px
}

@media (min-width: 1200px) {
  body {
    font-size: 50px
  }
  #krug {
    width: 300px; 
    height: 300px;
    top: 400px;
    left: 500px:
  }
}
@media (max-width: 1199px) {
  body {
    font-size: 70px
  }
  button {
    font-size: 45px
  }
  #krug {
    width: 400px; 
    height: 400px;
    top: 550px;
    left: 400px
  }
}
